.App {
  .App-header, .App-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: 25px;
  }

  .content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.chart-container {
  height: 400px;
  width: 100%;
}

.analysis-details {
  font-size: 16px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  width: 400px;

  #search-bar {
    font-size: 18px;
    width: 100%;
  }

  .input {
    margin-left: 13px;
    flex: 1;
  }

  .icon-button {
    padding: 10px;
  }
}

#drawer-menu {
  width: 250px;
}
