.App {
  .App-header, .App-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding: 50px;
  }

  .App-body {
    background-color: #eeeeee;
  }

  .content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.visualization {
  .code-example {
    font-size: 12px;
  }
}

.chart-container {
  height: 400px;
  min-width: 700px;
  width: 100%;
}

#anaylsis-list {
  margin: 25px 0;
}

.analysis-details {
  font-size: 16px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 15px;

  #search-bar {
    font-size: 18px;
    width: 100%;

    .css-1hwfws3 {
      cursor: text;
    }
  }

  .input {
    margin-left: 13px;
    flex: 1;
  }

  .icon-button {
    padding: 10px;
  }
}

#drawer-menu {
  width: 250px;
}

#about-page {
  margin: 0 15%;
}

#chart {
  .compliant-check {
    font-size: 250px;
    color: limegreen;
  }
}

#code-style-examples {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 25px;
}

.icon {
  margin-right: 10px;
  margin-bottom: 3px;
}

.valid-color {
  color: green;
}

#stats {
  .grid-item {
    margin: 20px;
  }
}